*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f9f9f9;
    padding: 30px;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

.nav{
    display: flex;
    gap: 25px;
}

.nav a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart{
    width: 18px;
}

.user{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* MAIN SECTION */
.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

/* LEFT SIDE */
.left{
    max-width: 350px;
}

.main-img{
    width: 100%;
    border-radius: 15px;
}

.thumb-row{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.thumb{
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.7;
}

.active{border: 2px solid orange;
    opacity: 1;}
.thumb:hover{
    border: 2px solid orange;
    opacity: 1;
}

/* RIGHT SIDE */
.right{
    max-width: 420px;
}

.right h4{
    font-size: 12px;
    letter-spacing: 2px;
    color: orange;
}

.right h1{
    margin: 15px 0;
}

.para{
    color: gray;
    margin-bottom: 20px;
}

/* PRICE */
.price-box{
    margin-bottom: 25px;
}

.price{
    display: flex;
    align-items: center;
    gap: 15px;
}

.discount{
    background: #000;
    color: #fff;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 12px;
}

.old-price{
    color: gray;
    text-decoration: line-through;
    margin-top: 5px;
}

/* CART SECTION */
.cart-section{
    display: flex;
    gap: 20px;
    align-items: center;
}

.counter{
    background: #eee;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.counter button{
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color: orange;
}

.add-btn{
    background: orange;
    border: none;
    padding: 12px 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/*Mobile Responsive*/
@media (max-width: 768px){

    body{
        padding: 0;
    }

    /* Header */
    .header{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        display: none; 
    }

   
    .icons{
        gap: 15px;
    }
/*Container*/
  
    .container{
        flex-direction: column;
        padding: 20px;
        gap: 30px;
        margin: 0;
    }

    /* Left  */
    .left{
        width: 100%;
    }

    .main-img{
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .thumb-row{
        display: none; 
    }

    /* Right */
    .right{
        width: 100%;
    }

    .right h4{
        font-size: 13px;
        letter-spacing: 2px;
        color: hsl(26, 100%, 55%);
        margin-bottom: 8px;
    }

    .right h1{
        font-size: 26px;
        line-height: 1.3;
    }

    .para{
        font-size: 15px;
        margin: 15px 0 25px;
        color: hsl(219, 9%, 45%);
    }

    /* Price */
    .price-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .price h2{
        font-size: 30px;
    }

    /* Cart */
    .cart-section{
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .counter{
        background: hsl(223, 64%, 98%);
        width: 100%;
        justify-content: space-between;
        padding: 15px 20px;
    }

    .counter button{
        color: hsl(26, 100%, 55%);
        font-size: 26px;
    }

    /* Add to Cart Button */
    .add-btn{
        width: 100%;
        padding: 18px;
        font-size: 18px;
        background: hsl(26, 100%, 55%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 10px 20px rgba(255, 125, 26, 0.3);
    }
}
