*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Kumbh Sans", sans-serif;
}

body {
      background: hsl(230, 16%, 93%);
      display: flex;
      justify-content: center;
      align-items: center;
     max-height: 100vh;
      padding: 20px;
   
    }
    .container_page {
      /* width: 900px; */
      background: white;    
    
  
     padding:10px 50px 40px 50px;
  
      overflow: hidden;
      box-shadow: 0px 10px 35px rgba(0,0,0,0.1);
    }
.main_page{
    
    margin-left: 3%;
    margin-right: 5%;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header-left{
    display: flex;
    align-items: center;
   
}
.logo img{
  width:80%;
    
}

.nav{
    display: flex;
    gap: 15px;
}

.nav a{
    text-decoration: none;
    color: gray;
    font-size: 12px;

}

.icons{
    display: flex;
    align-items: center;
 
    gap: 20px;
    
}

.cart{
    width: 18px;
}

.user{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* MAIN SECTION */
.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* LEFT SIDE */
.left{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-img{
    width: 90%;
    border-radius: 15px;

}

.thumb-row{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.thumb{
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.7;
}

.active{border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.2;}
.thumb:hover{
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 1;
}

/* RIGHT SIDE */
.right{
    max-width: 400px;

margin-top: 50px;
}


.right h4{
    font-size: 8.5px;
    letter-spacing: 2px;
    color: gray;
}

.right h1{
    font-size: 30px;
    margin: 15px 0;
}

.para{
    color: gray;
    margin-bottom: 20px;
    font-size: 12px;
}

/* PRICE */
.price-box{
    margin-bottom: 25px;
}

.price{
    display: flex;
    align-items: center;
    gap: 15px;
}

.discount{
    background: #000;
    color: #fff;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 10px;
}

.old-price{
    color: gray;
    text-decoration: line-through;
    margin-top: 5px;
    font-size: 10px;
}

/* CART SECTION */
.cart-section{
    display: flex;
 
    align-items: center;
    justify-content: space-between;
}

.counter{
    background:hsl(223, 64%, 98%);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 8px 10px;
    border-radius: 10px;
}
.counter span{
    font-size: 12px;
}
.counter button{
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color:hsl(26, 100%, 55%) ;
}


.add-btn{
    background: hsl(26, 100%, 55%);
    border: none;
    padding: 10px 45px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    cursor: pointer;    
}

/* Mobile Responsive  */
@media (max-width: 480px){

    body{
        padding: 0;
        background: white;
         align-items: flex-start;
    }

    .container_page{
        padding: 0 !important;
        box-shadow: none;
    }

    /* Header */
    .header{
        padding: 20px;
    }

    .header-left{
        gap: 15px;
    }

    .logo img{
        width: 90px;
    }
    .main_page{
    
    margin-left: 0;
    margin-right: 0;
}

    .nav{
        display: none;  /* mobile menu hidden */
    }

    .icons img{
        width: 22px;
    }

    .user{
        width: 30px;
        height: 30px;
    }

    /* Product Section */
    .container{
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 0;
    }

    /* Main Image Full Width */
    .main-img{
    width: 100%;
    height: auto;
    border-radius: 0;
    display: block;
}


    .thumb-row{
        display: none;
    }

    /* Right Content */
    .right{
        padding: 20px;
        width: 100%;
        margin-top: 0;
        padding-bottom: 50px;
        
    }

  

    .right h1{
        font-size: 23px;
        margin: 12px 0;
        line-height: 1.3;
    }

    .para{
        font-size: 11.5px;
        color: hsl(219, 9%, 45%);
        line-height: 1.6;
        margin-bottom: 25px;
    }

    /* Price Section */
    .price-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .price h2{
        font-size: 30px;
    }

    .discount{
        padding: 4px 8px;
        font-size: 12px;
    }

    .old-price{
        font-size: 15px;
    }

    /* Cart Area */
    .cart-section{
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        gap: 15px;
    }

    .counter{
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        background: hsl(225, 100%, 98%);
        border-radius: 12px;
    }

    .counter button{
        font-size: 28px;
    }

    .add-btn{
        width: 100%;
        padding: 8px;
        font-size: 18px;
        background: hsl(26, 100%, 55%);
        color: #fff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 10px 20px rgba(255, 125, 26, 0.3);
    }
}
